<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Label</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link href="vendor/toastr/toastr.min.css" rel="stylesheet">
</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">rest<sup>ZPL</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Overview</span></a>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/label">
          <i class="fas fa-fw fa-tags"></i>
          <span>Label</span></a>
      </li>
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/printer">
          <i class="fas fa-fw fa-print"></i>
          <span>Printer</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content" style="padding-top: 30px;">

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Label</h1>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Create Label</h6>
                </div>
                <div class="card-body">
                  <form>
                    <div class="form-group">
                      <label for="newname">Name</label>
                      <input type="text" class="form-control" id="newname" placeholder="Label Name">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6 col-lg-6">
                        <label for="newwidth">Width</label>
                        <input type="number" class="form-control" id="newwidth" placeholder="Width in inches">
                      </div>
                      <div class="form-group col-md-6 col-lg-6">
                        <label for="newheight">Height</label>
                        <input type="number" class="form-control" id="newheight" placeholder="Height in inches">
                      </div>
                    </div>
                    <div class="btn btn-primary" id="create">Create</div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Delete Label</h6>
                </div>
                <div class="card-body">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" id="delete-label" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Label
                    </button>
                    <div class="dropdown-menu label-dropdown" aria-labelledby="dropdownMenuButton">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">

              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Edit &amp; Test Label</h6>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3 col-md-6">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="test-printer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Printer
                        </button>
                        <div class="dropdown-menu printer-dropdown" aria-labelledby="dropdownMenuButton">
                        </div>
                      </div>
                      <div class="form-group" id="printer-id-group" style="margin-top: 20px;">
                        <label for="printerid">Printer ID</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="printerid" placeholder="ID for REST" readonly>
                          <div class="input-group-append">
                            <button class="btn btn-primary copy-button" type="button" data-target="printerid"><i class="fas fa-copy"></i></button>
                          </div>
                        </div>
                      </div>
                      <!--
                      <div class="form-group print-param"><label for="param2">Name 2</label><input type="text" class="form-control" id="param2" placeholder="Param 2"></div>
                      -->
                      <button class="btn btn-primary" id="test" disabled>Test</button>
                    </div>
                    <div class="col-lg-5 col-md-6">
                      <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="update-label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Label
                        </button>
                        <div class="dropdown-menu label-dropdown" aria-labelledby="dropdownMenuButton">
                        </div>
                      </div>
                      <div class="form-group" style="margin-top: 20px;">
                        <label for="editid">Label ID</label>
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="labelid" placeholder="ID for REST" readonly>
                          <div class="input-group-append">
                            <button class="btn btn-primary copy-button" type="button" data-target="labelid"><i class="fas fa-copy"></i></button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="editname">Name</label>
                        <input type="text" class="form-control" id="editname" placeholder="Label Name">
                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6 col-lg-6">
                          <label for="editwidth">Width</label>
                          <input type="number" class="form-control" id="editwidth" placeholder="Width in inches">
                        </div>
                        <div class="form-group col-md-6 col-lg-6">
                          <label for="editheight">Height</label>
                          <input type="number" class="form-control" id="editheight" placeholder="Height in inches">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="editzpl">ZPL</label>
                        <!-- <input type="text" class="form-control" id="newzpl" placeholder="New ZPL"> --->
                        <textarea class="form-control" id="editzpl" placeholder="ZPL" rows="6"></textarea>
                      </div>
                      <button id="update" class="btn btn-primary">Update</button>
                    </div>
                    <div class="col-lg-4 col-md-12 ">
                      <h6 class="m-0 font-weight-bold text-primary">Preview</h6>
                        <div id="imgContainer" style="margin-top: 20px;">
                          <img class="img-fluid shadow w-100" />
                        </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Insert this line above script imports  -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>


  <!-- Insert this line above script imports  -->
  <script>
    if (typeof module === 'object') {
      window.module = module;
      module = undefined;
    }
  </script>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="vendor/toastr/toastr.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Insert this line after script imports -->
  <script>
    if (window.module) module = window.module;
    var config = <%- JSON.stringify(config) %>;
  </script>

  <script src="js/label.js"></script>
  <script src="js/main.js"></script>
  <script src="js/websocket.js"></script>

</body>

</html>
